# WebScraping

- In this notebook i'll show you how to perform web scraping of some

In [2]:
import pandas as pd # work with dataframes
import requests # get the html from the page
from bs4 import BeautifulSoup # Navigate in html code

In [3]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
url_html_text = requests.get(url=url).text # get the html file from the url and tranform in text to future calculations

In [4]:
soup = BeautifulSoup(url_html_text) # get the html code as text and tranform in a BeautifulSoup Type 
print(type(soup)) # here you can see de type of the data

<class 'bs4.BeautifulSoup'>

In [5]:
# The <tbody> tag is used to goup the content in an HTML table, so here you'll find the table that you are looking for:

soup_tbody = soup.tbody 
soup_tbody

<tbody>
<tr>
<td style="text-align:center">2020</td>
<td style="text-align:center">$6,466</td>
</tr>
<tr>
<td style="text-align:center">2019</td>
<td style="text-align:center">$8,285</td>
</tr>
<tr>
<td style="text-align:center">2018</td>
<td style="text-align:center">$8,547</td>
</tr>
<tr>
<td style="text-align:center">2017</td>
<td style="text-align:center">$7,965</td>
</tr>
<tr>
<td style="text-align:center">2016</td>
<td style="text-align:center">$9,364</td>
</tr>
<tr>
<td style="text-align:center">2015</td>
<td style="text-align:center">$9,296</td>
</tr>
<tr>
<td style="text-align:center">2014</td>
<td style="text-align:center">$9,040</td>
</tr>
<tr>
<td style="text-align:center">2013</td>
<td style="text-align:center">$8,887</td>
</tr>
<tr>
<td style="text-align:center">2012</td>
<td style="text-align:center">$9,551</td>
</tr>
<tr>
<td style="text-align:center">2011</td>
<td style="text-align:center">$9,474</td>
</tr>
<tr>
<td style="text-align:center">2010</td>
<td style="text-align:center">$9,078</td>
</tr>
<tr>
<td style="text-align:center">2009</td>
<td style="text-align:center">$8,806</td>
</tr>
<tr>
<td style="text-align:center">2008</td>
<td style="text-align:center">$7,094</td>
</tr>
<tr>
<td style="text-align:center">2007</td>
<td style="text-align:center">$5,319</td>
</tr>
<tr>
<td style="text-align:center">2006</td>
<td style="text-align:center">$3,092</td>
</tr>
<tr>
<td style="text-align:center">2005</td>
<td style="text-align:center">$1,843</td>
</tr>
</tbody>

In [6]:
soup_td = soup_tbody.find_all('tr')
soup_td

[<tr>
 <td style="text-align:center">2020</td>
 <td style="text-align:center">$6,466</td>
 </tr>,
 <tr>
 <td style="text-align:center">2019</td>
 <td style="text-align:center">$8,285</td>
 </tr>,
 <tr>
 <td style="text-align:center">2018</td>
 <td style="text-align:center">$8,547</td>
 </tr>,
 <tr>
 <td style="text-align:center">2017</td>
 <td style="text-align:center">$7,965</td>
 </tr>,
 <tr>
 <td style="text-align:center">2016</td>
 <td style="text-align:center">$9,364</td>
 </tr>,
 <tr>
 <td style="text-align:center">2015</td>
 <td style="text-align:center">$9,296</td>
 </tr>,
 <tr>
 <td style="text-align:center">2014</td>
 <td style="text-align:center">$9,040</td>
 </tr>,
 <tr>
 <td style="text-align:center">2013</td>
 <td style="text-align:center">$8,887</td>
 </tr>,
 <tr>
 <td style="text-align:center">2012</td>
 <td style="text-align:center">$9,551</td>
 </tr>,
 <tr>
 <td style="text-align:center">2011</td>
 <td style="text-align:center">$9,474</td>
 </tr>,
 <tr>
 <td style="text-align:center">2010</td>
 <td style="text-align:center">$9,078</td>
 </tr>,
 <tr>
 <td style="text-align:center">2009</td>
 <td style="text-align:center">$8,806</td>
 </tr>,
 <tr>
 <td style="text-align:center">2008</td>
 <td style="text-align:center">$7,094</td>
 </tr>,
 <tr>
 <td style="text-align:center">2007</td>
 <td style="text-align:center">$5,319</td>
 </tr>,
 <tr>
 <td style="text-align:center">2006</td>
 <td style="text-align:center">$3,092</td>
 </tr>,
 <tr>
 <td style="text-align:center">2005</td>
 <td style="text-align:center">$1,843</td>
 </tr>]

In [16]:
# When we look to the construction of the HTML table we see that we have two rows and each row represents everything inside of the tag (<tr>...data...<tr>)

construct_dataframe = pd.DataFrame(columns=['Year','Price'])

for row in soup_td: # Here we create a list and for every step (<tr>....<tr>) we will find the data that we need inside of the last <td>...<td>
    col = row.find_all('td') #find all the (<td>...<td>) inside of the (<tr>...<tr>)
    year = col[0].text
    price = col[1].text

    construct_dataframe = construct_dataframe.append({'Year': year,'Price': price}, ignore_index= True)

construct_dataframe

C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3095002454.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe = construct_dataframe.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3095002454.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe = construct_dataframe.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3095002454.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe = construct_dataframe.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3095002454.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe = construct_dataframe.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3095002454.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe = construct_dataframe.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3095002454.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe = construct_dataframe.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3095002454.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe = construct_dataframe.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3095002454.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe = construct_dataframe.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3095002454.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe = construct_dataframe.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3095002454.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe = construct_dataframe.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3095002454.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe = construct_dataframe.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3095002454.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe = construct_dataframe.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3095002454.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe = construct_dataframe.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3095002454.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe = construct_dataframe.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3095002454.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe = construct_dataframe.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3095002454.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe = construct_dataframe.append({'Year': year,'Price': price}, ignore_index= True)

    Year   Price
0   2020  $6,466
1   2019  $8,285
2   2018  $8,547
3   2017  $7,965
4   2016  $9,364
5   2015  $9,296
6   2014  $9,040
7   2013  $8,887
8   2012  $9,551
9   2011  $9,474
10  2010  $9,078
11  2009  $8,806
12  2008  $7,094
13  2007  $5,319
14  2006  $3,092
15  2005  $1,843

In [8]:
# just a alternative way:

construct_dataframe2 = pd.DataFrame(columns=['Year','Price'])

for row in soup.find('tbody').find_all('tr'): # Just a fast way if you still now the exact way and don't need to analyze the html
    col = row.find_all('td') 
    year = col[0].text
    price = col[1].text

    construct_dataframe2 = construct_dataframe2.append({'Year': year,'Price': price}, ignore_index= True)

construct_dataframe2

C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3353125095.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe2 = construct_dataframe2.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3353125095.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe2 = construct_dataframe2.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3353125095.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe2 = construct_dataframe2.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3353125095.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe2 = construct_dataframe2.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3353125095.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe2 = construct_dataframe2.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3353125095.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe2 = construct_dataframe2.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3353125095.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe2 = construct_dataframe2.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3353125095.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe2 = construct_dataframe2.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3353125095.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe2 = construct_dataframe2.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3353125095.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe2 = construct_dataframe2.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3353125095.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe2 = construct_dataframe2.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3353125095.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe2 = construct_dataframe2.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3353125095.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe2 = construct_dataframe2.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3353125095.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe2 = construct_dataframe2.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3353125095.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe2 = construct_dataframe2.append({'Year': year,'Price': price}, ignore_index= True)
C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\3353125095.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  construct_dataframe2 = construct_dataframe2.append({'Year': year,'Price': price}, ignore_index= True)

    Year   Price
0   2020  $6,466
1   2019  $8,285
2   2018  $8,547
3   2017  $7,965
4   2016  $9,364
5   2015  $9,296
6   2014  $9,040
7   2013  $8,887
8   2012  $9,551
9   2011  $9,474
10  2010  $9,078
11  2009  $8,806
12  2008  $7,094
13  2007  $5,319
14  2006  $3,092
15  2005  $1,843

In [17]:
# verify that two ways are the same

construct_dataframe == construct_dataframe2

    Year  Price
0   True   True
1   True   True
2   True   True
3   True   True
4   True   True
5   True   True
6   True   True
7   True   True
8   True   True
9   True   True
10  True   True
11  True   True
12  True   True
13  True   True
14  True   True
15  True   True

In [18]:
# Remove mising values blank rows and duplicates if it's needed:

construct_dataframe.dropna(inplace= True) # drop the rows if at leat one element of the dataframe is missing
construct_dataframe = construct_dataframe[construct_dataframe['Price'] != ""] # Keep only if the prive is't empty
construct_dataframe['Price'] = construct_dataframe['Price'].str.replace(',|\$',"") # Replace "," and "$" for "" (nothing) to clean the data

construct_dataframe

C:\Users\Sanderson\AppData\Local\Temp\ipykernel_5668\1977671519.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  construct_dataframe['Price'] = construct_dataframe['Price'].str.replace(',|\$',"") # Replace "," and "$" for "" (nothing) to clean the data

    Year Price
0   2020  6466
1   2019  8285
2   2018  8547
3   2017  7965
4   2016  9364
5   2015  9296
6   2014  9040
7   2013  8887
8   2012  9551
9   2011  9474
10  2010  9078
11  2009  8806
12  2008  7094
13  2007  5319
14  2006  3092
15  2005  1843

In [19]:
# Change de data type of some columns:
construct_dataframe.dtypes

Year     object
Price    object
dtype: object

In [14]:
# change data types

construct_dataframe['Year'] = pd.to_numeric(construct_dataframe['Year'])
construct_dataframe['Price'] = pd.to_numeric(construct_dataframe['Price'])

In [21]:
# The same as last step (Fast Alternative):

construct_dataframe[['Year','Price']] = construct_dataframe[['Year','Price']].apply(pd.to_numeric)

In [22]:
construct_dataframe.dtypes

Year     int64
Price    int64
dtype: object